body {
  background-color: #F4F1DE;
  transition: background-color 1.5s ease;
}

.my_container {
  opacity: 1;
  transition: opacity 1.2s ease;
  font-family: "Lora", sans-serif;
}
.my_container .my_row .my_col {
  padding: 4vw;
}
.my_container .my_row .my_col p {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.my_container .my_row .my_col img {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.my_container .my_row .my_col .submitted_img {
  max-height: 55vh;
}
.my_container .my_row .my_col .pie_graph {
  width: 100%;
  height: auto;
}
.my_container .submission_row {
  width: 100%;
  border-bottom: 1px solid #3D405B;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-fill-mode: both;
}
.my_container .t_style_01 {
  color: #3D405B;
}
.my_container .t_style_01 .t_label {
  font-weight: bold;
}
.my_container .t_style_01 .url {
  color: #3D405B;
}
.my_container .t_style_02 {
  font-size: 16px;
  font-weight: lighter;
  color: #3D405B;
}
.my_container #color_b {
  color: #E07A5F;
}
.my_container #sound_text {
  color: #81B29A;
}
.my_container .clr_r {
  color: #D64933;
}
.my_container .clr_g {
  color: #519872;
}
.my_container .clr_b {
  color: #1C5D99;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-part {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@-o-keyframes fade-in-part {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@-moz-keyframes fade-in-part {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes fade-in-part {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
.my_col p:nth-of-type(1) {
  animation-delay: 0.4666666667s;
}

.my_col p:nth-of-type(2) {
  animation-delay: 0.6333333333s;
}

.my_col p:nth-of-type(3) {
  animation-delay: 0.8s;
}

.my_col p:nth-of-type(4) {
  animation-delay: 0.9666666667s;
}

.my_col p:nth-of-type(5) {
  animation-delay: 1.1333333333s;
}

.my_col p:nth-of-type(6) {
  animation-delay: 1.3s;
}

.my_col p:nth-of-type(7) {
  animation-delay: 1.4666666667s;
}

.my_col p:nth-of-type(8) {
  animation-delay: 1.6333333333s;
}

.my_col p:nth-of-type(9) {
  animation-delay: 1.8s;
}

.my_col p:nth-of-type(10) {
  animation-delay: 1.9666666667s;
}

.my_col p:nth-of-type(11) {
  animation-delay: 2.1333333333s;
}

.my_col p:nth-of-type(12) {
  animation-delay: 2.3s;
}

.my_col img:nth-of-type(1) {
  animation-delay: 0.4666666667s;
}

.my_col img:nth-of-type(2) {
  animation-delay: 0.6333333333s;
}

.my_col img:nth-of-type(3) {
  animation-delay: 0.8s;
}

.my_col img:nth-of-type(4) {
  animation-delay: 0.9666666667s;
}

/*# sourceMappingURL=output.css.map */
