container_commands:
  setup-env:
    command: >
        aws secretsmanager get-secret-value --secret-id arn:aws:secretsmanager:us-west-1:139547684115:secret:prod/synestify/spotify-HMCzL4 --region=us-west-1 |
        jq -r '.SecretString' |
        jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' > .env