$main-color-light: #FAF3DD;
$main-color-dark: #323031; //#474554;
$secondary-color-light: white;
$secondary-color-dark: black;
$pop-color: #b2abf2;
body {
    margin: 0;
    // #root {
    //     width: 100vw;
    //     height: 100vh;
    // }
}


.app {
    // width: 100%;
    // height: 100%;
    background-color: $main-color-light;
    color: $main-color-dark;
    font-family: 'Lora', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .main-container {
        height: 100vh;
        width: 70vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px dotted black; // Production
        .col {
            width: 48%;
            border: 1px dotted black; // Production
        }
        .intro{
            .intro-title{
                font-size: 1.25rem;
                font-weight: bold;
            }
            .intro-desc {
                font-size: 1rem;
                font-weight: lighter;
                .text-color { 
                    color: #E07A5F;
                }
                .text-sound {
                    color: #81B29A;
                }
            }
            #synestify-desc {
                color: $pop-color;
                font-style: italic;
            }
        }
        .form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .form-desc { 
               font-size: 1rem;
               font-weight: lighter; 
               width: 100%;
               text-align: center;
            }
            .form-sheet {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .form-dropdown-label {
                    text-align: center;
                }
                .form-dropdown-menu {
                    background-color: $main-color-light;
                    color: $main-color-dark;
                    text-align: center;
                    width: 55%;
                }
                .form-dropdown-menu.dark {
                    background-color: $main-color-dark;
                    color: $main-color-light;
                }
                .form-upload {
                    margin-top: 1em;
                    justify-content: center;
                }
                .form-break { 
                    width: 100%;
                    height: 0; 
                    margin: 0; 
                    border: 0
                }
                .form-submit {
                    margin-top: 1em;
                    width: 50%;
                    height: 1.5rem;
                    background-color: #E07A5F;
                    opacity: 0.6;
                    font-family: 'Lora', sans-serif;
                    border: none;
                    border-radius:1em;
                    box-sizing: border-box;
                    text-decoration:none;
                    text-align: center;
                }
            }
            .form-warning {
                font-size: 0.75rem;
                opacity: 0.5; 
                margin-top: 0.5rem;
            }
        }
    }
    .loading-container {
        height: 100vh;
        display: flex;
        align-items: center;
        .loading-subtitle { 
            margin-left: 1.5rem;
        }
        .svg-circle {
            overflow: visible;
        }
    }

    .dm-button{
        padding: 8px;
        display: flex;
        margin: 0 4px 0 4px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        opacity: 0.7;
        z-index: 1100;
        // Button State Image
        .dm-image {
            // height: calc(0.45 * #{$toggle-height});
            height: calc(0.45 * 26px);
            width: auto;
            margin-left: calc(0.25 * 26px);
            margin-top: calc(0.275 * 26px);
        }
    }
} 

.app.dark {
    background-color: $main-color-dark;
    color: $main-color-light;
}
  
@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
 
@-o-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
  
@-moz-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
  
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fade-in-part {
  0% {opacity: 0;}
  100% {opacity: .75;}
}
 
@-o-keyframes fade-in-part {
  0% {opacity: 0;}
  100% {opacity: .75;}
}
  
@-moz-keyframes fade-in-part {
  0% {opacity: 0;}
  100% {opacity: .75;}
}
  
@keyframes fade-in-part {
  0% {opacity: 0;}
  100% {opacity: .75;}
}

@for $i from 1 through 4 {
	.intro_col p:nth-of-type(#{$i}) {
		animation-delay: #{0.3+($i)/6}s;
  }
}
@for $i from 1 through 4 {
	.instruct_col div:nth-of-type(#{$i}) {
		animation-delay: #{2+0.3+($i)/6}s;
  }
}
